@model IEnumerable<ENTIDAD.Nomina>
@using NEGOCIO;


<div>
    <h1>Nóminas</h1>
</div>
<table class="table table-striped table-hover table-bordered" id="tablaNomina" style="width:100%">
    <thead>
        <tr>
            <th>
                Año Nómina
            </th>
            <th>
                Mes Nómina
            </th>
            <th>
                Monto Total
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Meses.NameMes(item.Mes)
                </td>
                <td>
                    RD$@Html.DisplayFor(modelItem => item.MontoTotal)
                </td>
            </tr>
        }
    </tbody>

</table>
<div>
    <a href="@Url.Action("Index", "Proceso")" class="btn btn-primary">Continuar</a>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#tablaNomina thead tr').clone(true).appendTo('#tablaNomina thead');
            $('#tablaNomina thead tr:eq(1) th').each(function (i) {
                var title = $(this).text().trim().toLowerCase();
                console.log(`Es es el titulo "${title}"`);
                $(this).html('<input type="text" class="form-control" placeholder="Buscar ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('#tablaNomina').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                responsive: true
            });
        });
    </script>
}
